<!DOCTYPE html>
<html lang="en">
<head>
   <style>
      .container{
         width: 80px;
         font-family: Arial, Helvetica, sans-serif;
      }

      span {
         display: block;
         margin: 5px 0px;
      }
   </style>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png"/>
      <span>Oi, {{name}}</span>
      <br/>

      <span>Você solicitou a alteração de senha</span>
      <span>Para realizar a troca, clique no link
         <a href="{{link}}"></a>
      </span>

      <span>Caso não tenha sido você que solicitou, ignore este email.</span>
      <span>Atenciosamente, equipe <i><strong>Rentx</strong></i>!</span>
   </div>
</body>
</html>