<style>
   .container{
      width: 80px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      flex-direction: column;
   }

   span {
      margin: 10px;
   }
</style>

<div class="container">
   <img src="https://i.imgur.com/oUAKMC5.png"/>
   <span>Oi, {{name}}</span>
   <br/>

   <span>Você solicitou a alteração de senha</span>
   <span>Para realizar a troca, clique no link
      <a href="{{link}}"></a>
   </span>

   <span>Caso não tenha sido você que solicitou, ignore este email.</span>
   <span>Atenciosamente, equipe <i><strong>Rentx</strong></i>!</span>
</div>